textarea {
    resize: none;
}

a {
    cursor: pointer;
}

#results_block {
    overflow-y: scroll;
    height: calc(100vh - 160px);
}

.swal-button {
    background-color: #0d6efd;
}

.swal-button:active, .swal-button:hover {
    background-color: #0b5ed7 !important;
}

.swal-text {
    text-align: center;
}

.res_t_filler, .res_t_slounik, .res_t_empty, .res_t_mistake {
    white-space: pre-line;
}

.res_t_slounik:hover, .res_t_empty:hover, .res_t_mistake:hover {
    text-decoration: underline dotted;
    cursor: pointer;
}

.res_t_empty {
    text-shadow: 0px 0px 5px red;
}

.res_t_mistake {
    text-shadow: 0px 0px 5px orange;
}

.res_t_mistake_modified {
    text-shadow: 0px 0px 5px darkgreen !important;
}

.radio_buttons {
    margin-top: 10px;
    text-align: left;
}